@font-face {
    font-family: myFont;
    src: url('font/GE_SS_Two_Bold.woff')
}

@font-face {
    font-family: myFont2;
    src: url('font/DroidKufi-Regular')
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius : 5px;
    font-family:myFont;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default {
    background-color: #088484;
    border-color: #e7e7e7;
}

    .navbar-default .navbar-nav > li > a {
        color: #e7e7e7;
        font-family: myFont
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: #282828;
        }

.myfooter {
    background-color: #088484;
    color: #e7e7e7;
    font-family: myFont;
}

.subfooter {
    background-color: #282828;
    color: #e7e7e7;
    text-align: center;
}

.myfooter a{
    color:azure ;
    margin-bottom: 20px;
    font-family: myFont2;
    list-style-type: none;
}

#searchName {
    border-radius: 5px;
    margin:12px
}

.navbar-user{
    padding:0px ;
    padding-bottom:0px ;
    width:250px;
}

img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

img.rounded1 {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(1.5);
    padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext {
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}


.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

.logo-size{
    width:200px ;
    height:42px ;
    margin-top : -10px;
}